<div class="container"  >
<nav class="navbar navbar-inverse" >
          <div class="container-fluid">
            
            <ul class="nav navbar-nav">
              <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
              <li><a routerLink="/info-pedido" routerLinkActive="active">Pedidos</a></li>
              <li><a routerLink="/locales" routerLinkActive="active">Locales</a></li>
              <li><a routerLink="/abm-local" routerLinkActive="active">Alta Local</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a [routerLink]="[]" (click)="Salir()" routerLinkActive="active">Log Out</a></li>
              
          </ul>
        </div>
</nav>
</div>