<!--<div>
    <div *ngFor="let producto of productosObjetos;let i = index">
        <h2>{{producto.nombre}}</h2>
            Seleccionar Producto<input type="checkbox" [(ngModel)]="arrayClaveProductos[i]" name="{{producto.nombre}}">
            {{producto.precio}} <br>
    </div>
    <input type="text" placeholder="nombre Oferta" [(ngModel)]="nombre">    
    <input type="button" (click)="aceptar()" value="Aceptar">
    <input type="button" (click)="cancelar()" value="Cancelar">
</div> -->
    

<div class="todo"> 
  <div class="container">
<div class="container-fluid">       
  <div class="text-center">
    <h2>ARMA TU OFERTA</h2>    
  </div>
  <div class="row">
    <div *ngFor="let producto of productosObjetos;let i = index" class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>{{producto.nombre}}</h1>
        </div>        
        <div class="panel-footer">
          <h3>{{producto.precio}}</h3>
          <h4><input type="checkbox" [(ngModel)]="arrayClaveProductos[i]" name="{{producto.nombre}}"></h4><br>
        </div>
      </div> 
    </div> 
    <input type="text" class="form-control" placeholder="nombre Oferta" [(ngModel)]="nombre">
    <input class="form-control" class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="aceptar()" value="Aceptar">
    <input class="form-control" class="btn btn-lg btn-success btn-block btn-signin2" type="button" (click)="cancelar()" value="Cancelar">
    
   
  </div>
</div>
</div>
</div>