<div class="container-fluid" *ngFor="let item of locales | async">
    <div *ngIf="item.$key == clave">
        <div class="jumbotron">
            <h1>{{item.nombre}}</h1> 
            Barrio: {{item.direccion.barrio}} <br>
            Calle: {{item.direccion.calle}} <br>
            Numero: {{item.direccion.numero}} <br> 
        </div>
        <div class="text-center">
            <h2 *ngIf="tengoUnProducto">SUS PRODUCTOS Y OFERTAS</h2>    
        </div>
        <div class="row">
            <div *ngIf="tengoUnProducto">
                <div *ngFor="let producto of productosObjetos;let i = index" class="col-sm-4">
                
                    <div  class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{producto.nombre}}</h1>
                        </div>        
                        <div class="panel-footer">
                            <h3>${{producto.precio}}</h3>
                            <h4><input type="checkbox" [(ngModel)]="arrayClaveProductos[i]" name="{{producto.nombre}}"></h4>
                            <img src="../assets/img/productos/{{fotos[i]}}" height="150px" width="150px">
                        </div>
                    </div> 
                
                    
                </div> 
                <input class="form-control" class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="reservarProductos(item.$key)" value="Reservar Productos">
                <br>
            </div>
            <div *ngIf="tengoUnaOferta">
                <div *ngFor="let oferta of generateArray(item['ofertas'])" class="col-sm-4">
               
                    <div  class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>{{oferta.nombre}}</h1>
                        </div>        
                        <div class="panel-footer">
                            <h3>${{oferta.precio}}</h3>
                            <div *ngFor="let ProductoOferta of generateArray(oferta['productosOfertas'])">
                                {{ProductoOferta}}
                            </div>
                            <input class="form-control" class="btn btn-lg btn-primary btn-block btn-signin2" type="button" (click)="reservar(oferta.nombre,item.$key,oferta.precio)" value="Reservar {{oferta.nombre}}">
                        </div>
                    </div> 
                
                        
                </div> 
            </div>
            
            <!--<input type="text" class="form-control" placeholder="nombre Oferta" [(ngModel)]="nombre">
            <input class="form-control" class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="aceptar()" value="Aceptar">
            <input class="form-control" class="btn btn-lg btn-success btn-block btn-signin2" type="button" (click)="cancelar()" value="Cancelar">-->
            <input class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="altaProducto(item.$key)" value="Agregar Producto">
            <input class="btn btn-lg btn-primary btn-block btn-signin2" type="button" (click)="altaOferta(item.$key)" value="Agregar Oferta">
           
        </div>
    </div>  
</div>
<div #map id="map" style="height:400px;width:100%;"></div>
